<%- include('../partials/_head') %>
<title>Show Page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div id="index-container">
    <div id="index-header" class="show-header">
      <h2><%= weapon.owner.username %>'s <%= weapon.weapon.name %></h2>
    </div>
    <div id="weapon-show-wrapper">
      <div id="weapon-show-div" <%/* eslint-disable css-propertyvalueexpected */%>
        style="border:4px solid <%= weapon.weapon.color %>">
        <img src="<%= weapon.weapon.image %>" id="skin-image-show" alt="show page">
        <hr <%/* eslint-disable css-propertyvalueexpected */%>
        style="color:<%= weapon.weapon.color %>;background-color:<%= weapon.weapon.color %>;">
        <p id="show-skin-name" class="skin-info">
          <span><%= weapon.weapon.name %></span>
        </p>
        <p id="show-wear-price" class="skin-info">
          <span>(<%= weapon.wearLevel %>)</span>
          <span>$<%= weapon.price %></span>
        </p>
        <% if(String(weapon.owner._id) === user._id) { %>
          <div id="update-delete-buttons">
            <a href="/skins/<%= weapon._id %>/edit"><button>update</button></a>
            <form action="/skins/<%= weapon._id %>?_method=DELETE" method="POST">
              <button>delete</button>
            </form>
          </div>
        <% } %>
        <% if(String(weapon.owner._id) !== user._id) { %>
          <a href="/skins/users/<%= weapon.owner._id %>">
            <button id="profile-button">visit <%= weapon.owner.username %>'s profile</button>
          </a>
        <% } %>
      </div>
    </div>
</body>